@keyframes bigger {
  to {
    transform: scale(1.1);
  }
}

.main {
  min-height: 100vh;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.header {
  width: 100%;
  font-size: 15px;
  line-height: 1.5;

  padding: 0 10px;
  background-image: linear-gradient(to right, #ffffff, #0078f6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  filter: none;
}

.logo img {
  width: 100%;
  height: 100%;
}

.voucher {
  display: flex;
  align-items: center;
 
}
.voucher p{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.6;
  margin-right: 10px;
}

.voucher span{
  color: rgb(255, 225, 4);
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  animation: tada 1s infinite alternate;
}

.remaining_product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.remaining_product p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.6;
}
.remaining_product h3 {
  color: rgb(252, 73, 88);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  animation: bigger 1s infinite alternate;
  margin: 0 10px;
}
.btn_buy_now {
  border-radius: 2px;
  background: linear-gradient(180deg, #ffe259, #ffa751);
  color: rgb(4, 24, 94);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  animation: bigger 1s infinite alternate;
}

.banner {
  width: 100%;
  padding: 20px 0px;
  background-image: url('../../public/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan {
  margin-left: 20px;
}

.slogan p {
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 39px;
  letter-spacing: 0px;
  line-height: 1.6;
  text-shadow: rgba(15, 56, 177, 0.6) 4px 4px 0px;

}

.slogan span {
  color: rgb(144, 231, 255);
  font-size: 20px;
  line-height: 1.6;
}

.banner_img {
  display: flex;
  justify-content: center;
}

.banner_img img {
  width: 70%;
  height: auto;
  object-fit: cover;
}

.banner_price {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.banner_price_only p {
  font-family: "Oswald", sans-serif;
  color: rgb(228, 249, 255);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.4;
  text-align: center;
}

.banner_price_only h3 {
  font-family: "Oswald", sans-serif;
  color: #58ccee;
  font-size: 32px;
  font-style: italic;
  letter-spacing: 0px;
  line-height: 1.4;
}

.adve {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.adve h3{
  color: rgb(18, 56, 192);
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1.4;
  background-clip: text;
  
}
.adve p {
  background: radial-gradient(circle, rgba(59, 102, 255, 1.0), rgba(10, 44, 161, 1.0));
  color: rgb(18, 56, 192);
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.4;
  background-clip: text;
  font-style: italic;
}
.paragraph  p{
  color: rgb(84, 84, 84);
  font-size: 16px;
  line-height: 1.6;
  padding: 0 20px;
  margin: 20px 0px;
}

.promotion {
  display: flex;
  margin-left: 20px;
  align-items: baseline;
}
.promotion_discount {
  color: rgb(4, 25, 94);
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-right: 10px;
}

.promotion_old_price {
  text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: rgb(84, 84, 84);
  font-size: 16px;
  line-height: 1.6;
  font-style: italic;
}
.flash_sale {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0px;
  background: linear-gradient(90deg, #ffe259, rgba(255, 167, 82, 0.0));
  border-radius: 2px;
  padding-left: 20px;
  padding: 10px;
}

.flash_sale_price2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flash_sale_good_price {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  font-style: italic;
}
.flash_sale_new_price {
  background-clip: text;
  color: #1238c0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.4;
 
}

.flash_sale_old_price {
  text-decoration: line-through;
  margin-right: 20px;
}
.flash_sale_price {
  display: flex;
  font-size: 26px;
  align-items: baseline;
}

.flash_sale_original_price {
  font-size: 16px;
  text-decoration: line-through;
  margin-right: 15px;
  color: #333;
}

.flash_sale_new_price {
  font-weight: bold;
}

.count_down_title {
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: 10px auto;
  padding: 10px 0px;
}
.count_down_title  p{
  color: rgb(247, 255, 141);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  animation: flickerAnimation 0.5s infinite alternate;
}

.count_down {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.count_down_block {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.count_down_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  /* background-color: #0078f6; */
  background-image: linear-gradient(to right, #2f88e8, #0078f6);
  border-radius: 5px;

}



.count_down_item h6 {
  color: #06244bb3;
  font-size: 12px;
  text-align: center;
  line-height: 1.6;
}
.product_detail {
  padding: 10px;
  border-top: 4px solid #e4e4e4;
}

.product_block {
  margin: 30px 0px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
}

.product_detail_title {
  color: black;
  font-size: 24px;
  line-height: 1.6;
  margin: 15px 0px;
  font-weight: 600;
  text-align: center;
}

.product_detail_item {
  display: flex;
  color: black;
  font-size: 14px;
  line-height: 1.6;
  font-style: italic;
}

.product_detail_item p:first-child {
  width: 120px;
}

.product_detail_item p:last-child {
  color: #000000;
}

.login_form {
  background: linear-gradient(180deg, #5287ce, #4957d6);
  padding: 20px;
}

.form_item {
  margin-bottom: 20px;
}

.login_form p {
  color: #ee4d2d;
  margin: 0;
}

.input_form {
  width: 100%;
  height: 45px;
  padding-left: 8px;
  font-size: 14px;
  border: unset;
}

.textarea_form {
  width: 100%;
  padding-left: 8px;
  padding-top: 2px;
  font-size: 14px;
  border: unset;
}

.login_form_title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 15px;
  font-size: 22px;
}
.form_submit {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 20px;
}

.form_submit button {
  outline: none;
}

.footer {
  background: linear-gradient(to bottom, #242451, #15152d);
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 15px 0px;
}

.footer_bg {
  position: absolute;
  background-image: url('../../public/images/backgroundfooter.png');
  opacity: 0.7;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_box {
  padding: 30px;
}

.footer_logo {
  display: flex;
  justify-content: center;
}

.footer_title {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
}


.footer_contact {
  /* background-color: #5e5e6e; */
  font-size: 16px;
  /* text-align: center; */
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.post {
  padding: 15px 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0px;
}

.post_content {
  margin: 20px 0px;
  border-bottom: 1px solid #5e5e6e;
}

.post_content p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;

}

.post_content h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.post_img img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}

.home_slide_item {
  height: 250px;
  background-color: #a2a0a0;
  padding: 1px;
  /* border-radius: 5px; */
}

.home_slide_item img {
  height: 100%;
  width: 100%;
  /* border-radius: 5px; */
}


.slide ul {
  display: flex !important;
  justify-content: center !important;
  list-style: none;
  margin: 10px 0px;
}


.modal {
  position: absolute;
  inset: 40px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 2px #adaaaa;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  height: fit-content;
}

.modal_content {
  text-align: center;
  padding: 20px 10px;
}

.modal_content img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.modal_content h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal_content p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal_content span {
  font-size: 12px;
  font-weight: 700;
  color: #ee4d2d;
  margin: 0px 2px;
}

.modal_content button {
  border: unset;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #ee4d2d;
  color: #fff;
  width: 100px;
}

.toast_container {
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.9;
}

.toasty {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}

.toasty_body {
  padding: 0
}

.toasty_title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}

.toasty_icon {
  /* background: cornflowerblue; */
  border: 1px solid cornflowerblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  animation: beat .25s infinite alternate;
  transform-origin: center;
  margin-right: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toasty_circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: cornflowerblue;
}

.fix_tel {
  cursor: pointer;
  background: #0288d1;
  text-decoration: none;
  z-index: 9999;
  color: #FFF !important;
  font-weight: 500;
  font-size: 1.3em;
  border-radius: 50%;
  position: fixed;
  bottom: 18px;
  right: 2%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shake infinite 2s;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table td {
  border: 1px solid #323131;
  padding: 4px;
  font-size: 12px;
}
/* Enable hover only on non-touch devices */
